<div id="moscow" style="display: none;">

<div class="span8 address">
  119071, Москва, Ленинский пр. дом 19
</div>

<div class="span12" style="margin-bottom: 30px;">
<iframe width="940" height="440" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ru/maps?f=q&amp;source=s_q&amp;hl=ru&amp;geocode=&amp;q=%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0,+%D0%9B%D0%B5%D0%BD%D0%B8%D0%BD%D1%81%D0%BA%D0%B8%D0%B9+%D0%BF%D1%80.+%D0%B4%D0%BE%D0%BC+19&amp;aq=&amp;sll=55,103&amp;sspn=51.925146,158.027344&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%BF%D1%80%D0%BE%D1%81%D0%BF.+%D0%9B%D0%B5%D0%BD%D0%B8%D0%BD%D1%81%D0%BA%D0%B8%D0%B9,+19,+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0&amp;t=m&amp;ll=55.726143,37.57659&amp;spn=0.010634,0.040383&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe><br/><a href="javascript:if(window.print)window.print()" class="content-header-link">Распечатать карту</a>
</div>

<div class="span7">
	<h1>роял бьюти москва</h1>
	
	<div class="text">
	  <p>ООО «Роял Бьюти» <br/>Адрес: 119071, Москва, Ленинский пр. дом 19 <br/>Телефон: 8 499 703 31 32<br/>Эл. почта: <a href="mailto:info@rbcos.ru">info@rbcos.ru</a></p>
	  
	  <h5>Отдел маркетинга</h5>
	  <p>Царькова Екатерина<br/> 8 499 703 31 32<br/>Эл. почта: <a href="mailto:cea@rbcos.ru">cea@rbcos.ru</a></p>
	
	  <h5>Отдел по работе с ключевыми клиентами</h5>
	  <p>Кристофорова Александра<br/> 8 985 287 13 15 <br/>Эл. почта: <a href="mailto:kay@rbcos.ru">kay@rbcos.ru</a></p>
	  
	</div>
</div>

</div>