<div id="saint">

<div class="span12 address">
  Cанкт-Петербург, Кондратьевский проспект, дом 15, корпус 3, литер 3, помещение 13
</div>

<div class="span12" style="margin-bottom: 30px;">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1997.0945367534314!2d30.382013500000003!3d59.96375529999992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696322b4522a9a7%3A0xe814b17f54e55e5b!2z0JrQvtC90LTRgNCw0YLRjNC10LLRgdC60LjQuSDQv9GA0L7RgdC_LiwgMTUg0LrQvtGA0L_Rg9GBIDMsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCz!5e0!3m2!1sru!2sru!4v1403613951111" width="940" height="450" frameborder="0" style="border:0"></iframe><br/>
	<a href="javascript:if(window.print)window.print()" class="content-header-link">Распечатать карту</a>
	
	
  
</div>

<div class="span7">
  <h1>центральные офисы</h1>
	<h2>роял бьюти петербург</h2>
	
	<div class="text">
	  <p>ООО «Роял Брендс» <br/>195197, Российская Федерация, город Санкт-Петербург, <br> Кондратьевский проспект, дом 15, корпус 3, литер 3, помещение 13 <br/>Телефон: 8 800 100 80 79<br/>Эл. почта: <a href="mailto:info@rbcos.ru">info@rbcos.ru</a></p>
	  
	  <h5>Отдел маркетинга</h5>
	  <p>Некрасова Наталья<br/> 8 800 100 80 79<br/>Эл. почта: <a href="mailto:nns@rbcos.ru">nns@rbcos.ru </a></p>
	
	  <h5>Отдел по работе с ключевыми клиентами</h5>
	  <p>Егорова Екатерина<br/> 8 812 702 79 89 <br/>Эл. почта: <a href="mailto:eey@rbcos.ru">eey@rbcos.ru</a></p>
	</div>
	
	<h2>роял бьюти москва</h2>
	
	<div class="text">
	  <p>Адрес: Ленинский пр., д. 19 <br/>Телефон: 8 499 703 31 32</p>
	</div>


</div>


</div>