<div id="saint">

<div class="span8 address">
  195027, Cанкт-Петербург, Свердловская наб., дом 62/А
</div>

<div class="span12" style="margin-bottom: 30px;">
	<iframe width="940" height="440" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.ru/maps?f=q&amp;source=s_q&amp;hl=ru&amp;geocode=&amp;q=C%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3,+%D0%A1%D0%B2%D0%B5%D1%80%D0%B4%D0%BB%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D0%BD%D0%B0%D0%B1.,+%D0%B4%D0%BE%D0%BC+62%2F%D0%90&amp;aq=&amp;sll=59.940198,30.090689&amp;sspn=0.690653,2.469177&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%BD%D0%B0%D0%B1.+%D0%A1%D0%B2%D0%B5%D1%80%D0%B4%D0%BB%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F,+62,+%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3,+195027&amp;ll=59.957503,30.411701&amp;spn=0.018907,0.082312&amp;z=14&amp;output=embed"></iframe><br/>
	<a href="javascript:if(window.print)window.print()" class="content-header-link">Распечатать карту</a>
	
	
  
</div>

<div class="span7">
  <h1>центральные офисы</h1>
	<h2>роял бьюти петербург</h2>
	
	<div class="text">
	  <p>ООО «Роял Бьюти» <br/>Адрес: 195027, РФ, г. Cанкт-Петербург, Свердловская наб., дом 62/А <br/>Телефон: 8 812 702 79 89<br/>Эл. почта: <a href="mailto:info@rbcos.ru">info@rbcos.ru</a></p>
	  
	  <h5>Отдел маркетинга</h5>
	  <p>Царькова Екатерина<br/> 8 800 100 80 79<br/>Эл. почта: <a href="mailto:cea@rbcos.ru">cea@rbcos.ru </a></p>
	
	  <h5>Отдел по работе с ключевыми клиентами</h5>
	  <p>Егорова Екатерина<br/> 8 911 177 21 50 <br/>Эл. почта: <a href="mailto:eey@rbcos.ru">eey@rbcos.ru</a></p>
	</div>
	
	<h2>роял бьюти москва</h2>
	
	<div class="text">
	  <p>Адрес: Ленинский пр., д. 19 <br/>Телефон: 8 499 703 31 32</p>
	</div>


</div>


</div>