<div class="container" id="about">
  <div class="row">
    <div class="span3">
      <h1>о компании</h1>
	</div>
	<div class="span2 offset7">
	  <%= link_to "обратная связь", "#", :class => 'content-header-link about' %>
	</div>	
  </div>

      <%= image_tag('about.png') %>

     <h1>роял бьюти петербург</h1>
     <p>Компания «Royal Beauty» является эксклюзивным дистрибьютором профессиональной косметики класса люкс. Качественную космецевтику, эксклюзивные линии для SPA и талассо-терапии и другую профессиональную косметикудля лица купить у нас могут самые взыскательные профессионалы индустрии красоты на территории Российской Федерации.</p>
	  <p>Лучшая профессиональная косметика для лица и тела продается в самом сердце города белых ночей. Головной офис фирмы находится в Санкт-Петербурге (СПб) на одной из самых видовых набережных реки Невы. И это неслучайно, ведь именно в городе, где проходят многочисленные фестивали и конкурсы, посвященные профессиональной косметике для салонов красоты, должна быть возможность купить профессиональную косметику с мировым именем.</p>
	  <p>Наши семинары в Петербурге по работе с профессиональной косметикой для салонов красоты и SPA-косметикой проходят в собственном просторном классе, с удобными учебными местами и большой демонстрационной зоной преподавателя. Занятия проводит ведущие преподаватели,  обладающие колоссальными знаниями и оригинальным авторским подходом к организации обучения, сложившимся благодаря огромному опыту преподавания в России, Украине и Европе.</p>

	  <%= image_tag('diploma.png') %>
	  
	<p>В октябре 2010 года компания «Royal Beauty» была генеральным спонсором IV — международного чемпионатапо спа-массажу в рамках выставки InterCHARM PROFESSIONAL.</p>
	<p>В апреле 2011 года на всемирно известной выставке InterCHARM PROFESSIONAL — международный конгресс косметологов прошёл под эгидой нашего платинового спонсорства.</p>
	<p>Познакомится с одной из профессиональных марок SPA-косметики, которые мы представляем, Вы моглина Санкт-Петербургском конгрессе косметологии и эстетической медицины «Невские берега-2011».
	<p>Понимая всю важность своевременного донесения информации о профессиональной косметике класса люксдо наших клиентов,«Royal Beauty» является постоянным партнёром «настольной книги» лучших мастеров косметологии — специализированного издания по прикладной эстетике «Les Nouvelle Esthetic». Это энциклопедия настоящих мастеров,в которой всегда можно узнать о новинках в области косметологии, а также о том, где купить профессиональную косметику для лица и тела.</p>
	<p>Мы помогаем косметологам, работающим с нашими марками, привлекать все больше и больше клиентов, широкои подробно рекламируясь в розничных глянцевых журналах, ежегодно сотрудничая с самыми популярными из них.В 2011 году мы развернули мощную промо-кампанию в самом читаемом журнале Санкт-Петербурга: «Собака.ru».</p>
	<p>Мы понимаем, что профессиональная косметика для салонов красоты в РФ представляется не только нами, поэтому очень гордимся, что заслужили выбор и доверие своих партнеров, и мы всегда готовы найти взаимовыгодные комфортные условия для сотрудничества.</p>
	<p>Гибкость и индивидуальный подход позволяют каждому клиенту в теплой дружеской обстановке почувствовать себя важным, нужным, уникальным. Мы ценим наших менеджеров за их профессионализм и преданность компании,а наши клиенты становятся нашими добрыми друзьями, что делает сотрудничество искренним и продуктивным.</p>
	<p>Компания постоянно следит за новейшими тенденциями индустрии профессиональной косметики (Испании, Германиии других стран) и предлагает только лучшее. В косметических марках, представленных компанией, отражены самые последние инновационные технологии и достижения науки. В состав предлагаемых нами средств входят исключительно натуральные ингредиенты, собранные со всего мира и запатентованные эксклюзивные компоненты, разработанныев собственных лабораториях производителей косметики. Во всех марках нашей профессиональной косметики класса люкс отсутствуют парабены, производные нефти, парафины и синтетические добавки. Это является одним из основных принципов философии нашей компании.</p>
	<p>У нас Вы можете не только купить профессиональную косметику для лица и SPA-процедур, но и получить полную компетентную консультацию наших специалистов. И ни один Ваш вопрос не останется без ответа. Мы постоянно пополняем портфолио профессиональных брендов, приятно удивляя наших партнеров, удовлетворяя все их потребности и ожидания от взаимовыгодного сотрудничества с нашей компанией.</p>
	
</div>