<% @title = "Партнеры" %>

<div class="container" id="contacts">
  <div class="row">
    <div class="span4">
      <h1>Наши партнеры</h1>
    </div>
    <div class="span8">
      <h2><%= link_to "ЦЕНТРАЛЬНЫЙ ОФИС", contacts_path %></h2>
    </div>
	</div>
	
	<div class="row">
    <div class="span4">
      <h1>Наши партнеры</h1>
    </div>
    <div class="span8">
      <h2><%= link_to "ЦЕНТРАЛЬНЫЙ ОФИС", contacts_path %></h2>
    </div>
	</div>
</div>

