<p>Добрый день,<%= @user.name %>!</p>

<p>Ваш аккаунт был активирован</p>

<p>Теперь Вы можете заказывать <%= link_to "продукцию", products_url %> с нашего сайта</p>

<p>С Уважением,<br/>Администрация сайта <%= link_to "rbcos.ru", "rbcos.ru" %>

