<h3>Вы искали: <%= @search %></h3>

<ul class="results">
	
	<% for search in @results %>
	<li><%= link_to search.title, url_for(search) %><p><%= truncate(strip_tags(search.text), length: 400) %></p></li>	
	<% end %>		
</ul>