<h3>Вы искали: <%= @search %></h3>

<ul class="results">
	
	<% for product in @results %>
	<li><%= link_to product.title, product_path(product) %><p><%= truncate(strip_tags(product.text), length: 400) %></p></li>	
	<% end %>		
</ul>