<h4>Вы искали фразу: <b><%= @query %></b></h4>

<% if @results.blank? %>

<h3>К сожалению, по вашему запросу ничего не найдено...</h3>

<% else %>

<ol class="results">
	
	<% for product in @results %>
	<li><%= link_to product.title, product_seo_path(product) %><p><%= truncate(strip_tags(product.text), length: 400) %></p></li>	
	<% end %>		
</ul>

<% end %>