<div class="container" id="search_page">
  <div class="row">
    <div class="span5">
      <h1>Поиск по сайту</h1>
	</div>

	<div class="span3">
		<div class="quick-search">Не нашли то, что искали?</div>
	</div>
	
	<div class="span4">
		<div class="search">
		<form id="quick_search" accept-charset="UTF-8" action="/search" method="post" data-remote="true">
			<input type="text" name="search" class="search-input" onfocus="if(this.value=='попробуйте поискать ещё раз') this.value='';" onblur="if(this.value=='') this.value='попробуйте поискать ещё раз';" value="попробуйте поискать ещё раз" />
			<a href="#" class="search-submit" id="quick_submit"></a>
		</form>
		
		</div>
	</div>
	
    <div class="span12" id="results">
    	<%= render 'search/results' %>
    </div>	
	
  </div>	
</div>