<div class="container" id="publications">
  <div class="row">
    <div class="span12">
      <h1>публикации</h1>
	</div>

    <div class="span9">
	  <div class="row">  
		<% @publications.each do |publication| %>
	    <div class="span22 publication"><%= link_to image_tag(publication.image.url(:thumb)), publication.file.url(:original, false), :target => '_blank' %><%= link_to publication.title, publication.file.url(:original, false), :target => '_blank', :class => 'publication_link' %></div>
		<% end %>
	  </div>
	</div>
	
	<div class="span3">
    <div class="header">Новости компании</div>
	  <div class="line"></div>
		<%= render 'layouts/product-news' %>
		<%= link_to "все новости", "#", :class => 'content-header-link product' %>
	</div>
	
  </div>	
</div>