<h1>Мои записи</h1>
<% if @user.events.blank? %>
<h3>Вы пока никуда не записались</h3>
<% else %>
<% @user.events.each do |event| %>
<div class="event">
<h3><%= event.title %></h3>
<p><%= event.date %></p>
<p><%= event.text %></p>
<%= appointment_link(event) %>
</div>
<% end %>
<% end %>