<div class="container" id="publications">
  <div class="row">
    <div class="span12">
      <%= link_to "назад к календарю", events_path, :class => 'content-header-link product' %>
	</div>

    <div class="span9">
	  	<h1><%= @event.title %></h1>
	</div>
	
	<div class="span3">
    <div class="header">Новости компании</div>
	  <div class="line"></div>
		<%= render 'layouts/product-news' %>
		<%= link_to "все новости", "#", :class => 'content-header-link product' %>
	</div>
	
  </div>	
</div>