<% if @cart.line_items.empty? %>

В вашей корзине нихуя нет

<% else %>

<table>
	<%= render(cart.line_items) %>
	<tr>
		<td colspan='2'>Total</td>
		<td><%= number_to_currency(total_cart_price(cart)) %></td>
	<tr>
</table>
<%= button_to 'Оформить заказ', new_order_path, method: :get %>
<%= button_to 'Очистить корзину', cart, method: :delete, confirm: 'Вы уверены?', remote: true %>

<% end %>