<% if @cart.line_items.empty? %>

В вашей корзине пусто

<% else %>

<table cellspacing="0" cellpadding="0">
  <tr>
    <th>Товар</th>
    <th>Количество</th>
    <th>Стоимость</th>
	<th>Убрать товар</th>
  </tr>
  <%= render(cart.line_items) %>
</table>

<div class="line" style="margin-top: 50px;"></div>

<div class="row">
	<div class="span5 offset7"><h1>итого: <%= number_to_currency(total_cart_price(cart)) %></h1></div>
</div>

<div class="row">
	<div class="span5 offset7"><%= link_to 'Оформить заказ', new_order_path, :class => 'order_button' %></div>
</div>




<% end %>