<%= form_for @cart, :remote => true, :html => {:id=>'cart_edit' } do |f| %>

<table>
<%= f.fields_for :line_items do |builder| %>
  <%= render 'line_items_fields', f: builder %>
<% end %>
</table>



<% end %>
