<h1>В вашей корзине</h1>

<%= render 'form' %>

<%= button_to 'Оформить заказ', new_order_path, method: :get %>

<%= button_to 'Редактировать', edit_cart_path(@cart), method: :get %>
<%= button_to 'Очистить корзину', cart, method: :delete, confirm: 'Вы уверены?', remote: true %>