$el: '._brands-filter';
$offset_x: 193px;
$offset_y: 38px;

#{$el}-item {
  display: inline-block;
  margin-left: 30px;

  // расположение чекбокса
  input { display: inline-block; position: relative; z-index: 1; vertical-align: text-top; }

  // дефолтные значения бокса и изображения в нем
  &.item-1{ &, & #{$el}-item-img{ width: 190px; } }
  &.item-2{ &, & #{$el}-item-img{ width: 162px; } }
  &.item-3{ &, & #{$el}-item-img{ width: 148px; } }

  // дефолтные значения спрайта
  &.item-1{ #{$el}-item-img{ background-position: -1*$offset_x 0; } }
  &.item-2{ #{$el}-item-img{ background-position: -1*$offset_x -1*$offset_y; } }
  &.item-3{ #{$el}-item-img{ background-position: -1*$offset_x -2*$offset_y; } }

  // дефолтные значения спрайта при активном чекбоксе
  &.item-1{ input:checked + #{$el}-item-img { background-position: 0 0; } }
  &.item-2{ input:checked + #{$el}-item-img { background-position: 0 -1*$offset_y; } }
  &.item-3{ input:checked + #{$el}-item-img { background-position: 0 -2*$offset_y; } }
}

#{$el}-item-img{
  height: $offset_y;
  display: inline-block;
  min-width: 146px;
  position: relative;
  z-index: 0;
  top: 11px;
  margin-left: -30px;
  background: image-url('brands/checkboxes_filter.png');
}
