.btn-group{
  .btn-simple, .link{
    display: inline-block;
    vertical-align: middle;

    & + .btn-simple, & + .link{
      margin-left: 10px;
    }
  }
}


.btn-simple{
  background: $color-btn-bg;
  color: #6e2257;
  font-family: PragmaticaC;
  font-size: 16px;
  border:none;
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: 170px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  @include link-states-style{ text-decoration: none; }
  &:hover, &:active{ background-color: $color-btn-hover-bg; }

  span + span{ padding-left: 1em; }
}

.btn-success{
  @extend .btn-simple !optional;
  &:hover, &:active { background-color: $color-magenta; color: #fff; }
}

.link,
.link-dashed{
  color: $color-link;
  font-size: 14px;
  display: inline-block;
  &:hover, &:active{ color: $color-link-hover; }
}

.link-dashed{
  @include link-states-style{ text-decoration: none; }
  border-bottom: 1px dotted $color-link;
}

.link-big{
  font-size: 18px;
}


.btn-top{
  background: $color-lilac;
  color: $color-lilac-d;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  text-align: center;
  position: fixed;
  top: 10px;
  right: 10px;
  .fa{ line-height: 32px; }
}