$el: '._case';
$height_img: 380px;
$width_img: 940px;

$banner_height_img: 220px;
$banner_width_img: 620px;


// Страница просмотра
//
//
#{$el}{
  * { box-sizing: border-box; }
  // делаем отрицательный отступ вверх,чтобы убрать белое пространство между меню и блоком
  // причем не удалось выяснить, откуда это пустое пространство взялось,
  // поэтому это чистый monkey patch
  //  margin-top: -25px;
  margin-bottom: 30px;
  a {
    @include link-states-style{
      text-decoration: none;
    }
  }
}

#{$el}-header, #{$el}-body{
  width: $width_img;
  margin: 0 auto;
  box-sizing: border-box;
}

#{$el}-header{
  height: $height_img;
  position: relative;
  overflow: hidden;

  h2, h3{
    margin: 0;
    text-align: center;
    position: relative;
    color: #fff;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
    z-index: 12;
    padding: 0 140px;
    height: $height_img/2 - 5px;
  }

  h2{
    font-family: 'Bebas Neue Book';
    font-size: 64px;
    line-height: 1.13;

    // выравнивание текста по центру изображения
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: $width_img;
    // ====
  }

  h3{
    font-family: 'Georgia', serif;
    text-transform: none;
    font-size: 22px;
    line-height: 1.33;
  }

  img{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }

  #{$el}-header-darken{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2);
  }
}

#{$el}-body{
  padding: 27px;
  background-color: #fff5d5;

  p{
    font-family: 'PragmaticaC', sans-serif;
    font-size: 16px;
    line-height: 1.25;
    color: #2c3e50;
  }
}

// Рендер в виде баннера
//
//
#{$el}.m-banner{
  @include clearfix;
  margin-bottom: 80px;
  margin-top: 10px;

  #{$el}-header, #{$el}-teaser{
    height: $banner_height_img;
  }

  #{$el}-header{
    float: right;
    h2 { font-size: 58px; line-height: 1.22; padding: 10px 30px; margin: 0; }

    // чтобы выровнять текст по центру вертикально и горизонтально,
    // приходиться делать следующее
    &, h2, img{
      width: $banner_width_img;
      height: $banner_height_img;
    }
    h2{ display: table-cell; vertical-align: middle; }
  }

  #{$el}-teaser{
    float: left;
    max-width: 250px;
    display: none;

    h4{
      font-family: 'Bebas Neue Book';
      font-size: 25px;
      line-height: 1.2;
      text-transform: uppercase;
      color: #7f8c8d;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

// есть особый вариант отрисовки, когда странится скролится и продукты выравниваются в два ряда
//
//
.scrolled{
  #{$el}.m-banner{
    #{$el}-teaser{ display: table; }
  }
}