$el: '.left-menu';
$text-color: #6e2257;
$bg-color: #ede6f2;
$item-padding: 1.4em 1em;
$item-border: 1px solid #9a899e;

$header-active-color: #553d59;
$subheader-active-color: #c4add4;



@mixin link-states-style{
  &, &:hover, &:active, &:visited, &:focus{
    @content;
  }
}



#{$el}{
  font-family: 'PragmaticaC';
  font-size: 16px;
  color: $text-color;
  background-color: $bg-color;
  overflow-x: hidden;

  // обнуление стилей от бразуеров и т.д.
  p, div, h3, a{
    outline: none;
    margin: 0;
  }
}

#{$el}-title{
  margin: 0;
  position: relative;
  a{
    display: block;
    font-size: 16px;
    font-weight: normal;

    border-bottom: $item-border;
    padding: $item-padding;

    @include link-states-style{
      color: $text-color;
      text-decoration: none;
    }
  }
}

#{$el}-container{
  // заголовок самого верхнего уровня
  > #{$el}-title{
    // класс активного пункта меню
    &.ui-state-active{
      background-color: $header-active-color;
      &, a{
        @include link-states-style{ color: #fff; }
      }
    }
  }
}

#{$el}-submenu{
  // второй уровень вложенности меню (пункты 2го уровня)
  border-left: 10px solid $header-active-color;
  > #{$el}-title{
    a { padding-left: 2em; }

    // класс от accordion
    &.ui-state-active{
      background-color: $subheader-active-color;
      a { border: none; }
    }
  }

  // третий уровень вложенности меню (пункты 3го уровня)
  > #{$el}-submenu{
    border-left: 10px solid $subheader-active-color;
    > #{$el}-title{
      a { padding-left: 3em; } }
  }
}

// делаем отступы от первого и последного подпункта
// чтобы сохранить вертикальный ритм пунктов меню,
// над которыми нависает тень
.ui-accordion-content-active{
  #{$el}-title:first-child{ padding-top: 11px; }
}

// тень от следующего блока подменю. закрывающая тень
.ui-accordion-content-active + #{$el}-title{
  box-shadow: -2px -4px 7px -1px rgba(0,0,0,0.5);
}

// тень от самого верхнего пункта меню
#{$el} > .ui-state-active{
  position: relative;
  z-index: 999;
}

// тень подпунктов меню (2го и 3го)
.ui-state-active{
  box-shadow: -1px 6px 7px -1px rgba(0,0,0,0.5);
  overflow: scroll;
}

// выключаем border под активными-окрашиваемыми пунктами меню
.ui-state-active{
 > a { border: none; }
}


// общий стиль стрелок-иконок у блоков меню
#{$el}-container{
  .ui-accordion-icons a{
    &:after{
      content: ' ';
      position: absolute;
      top: 0;
      right: 15px;
      height: 100%;
      width: 21px;
      display: block;
      background-image: image-url('arrows.png');
      background-repeat: no-repeat;
      background-position: 0 50%;
    }
  }
}

// стрелка у активного темного пункта меню
#{$el}-container > .ui-state-active.ui-accordion-icons a{
  &:after{
    background-position: -42px 50%;
  }
}

#{$el}-submenu{
  // стрелка у активного пункта меню 2го уровня
  .ui-state-active.ui-accordion-icons a{
    &:after{
      background-position: -21px 50%;
    }
  }

  // стрелка у неактивного пункта меню 2го уровня
  .ui-accordion-icons a{
    &:after{
      background-position: 0 50%;
    }
  }
}

// не показываем иконку, если нет подпунктов меню
#{$el}-empty.ui-accordion-icons a{
    &:after{
      height: 0;
    }
  }

