$el: '._left-menu';
$text-color: #6e2257;
$bg-color: #ede6f2;
$item-padding: 1em .6em;
$item-link-padding: .55em .4em .4em;
$item-border: 1px solid #9a899e;

$header-active-color: #553d59;
$subheader-active-color: #c4add4;

$arrow-width: 21px;

$color-root-level-hover: #553d59;
$color-root-level-txt-hover: #fff;

$color-first-level-hover: #c4add4;

$color-second-level-hover: #fff;


@mixin transition($str){
  -webkit-transition: $str;
  -o-transition: $str;
  -moz-transition: $str;
  transition: $str;
}

#{$el}{
  overflow: hidden;
  &, & li, ul, ul li{ list-style: none; padding: 0; margin: 0; }

  li{ border-top: $item-border; }
  li:first-child{ border-top: none; }

  // убираем стрелки у ссылок
  li.empty a{ &:after{ background-image: none; } }

  a{
    padding: $item-padding;
    font-family: 'PragmaticaC';
    font-size: 16px;
    background-color: $bg-color;
    display: block;
    line-height: 1;
    position: relative;
    @include link-states-style{
      color: $text-color;
      text-decoration: none;
    }



    // стрелки у пунктов меню
    &:after{
      content: ' ';
      display: block;
      width: $arrow-width;
      height: 100%;
      position: absolute;
      top: 0;
      right: 15px;
      background-image: image-url('arrows.png');
      background-repeat: no-repeat;
      background-position: 0 50%;
    }

    // стрелка у активного пункта меню
    &.opened:after{ background-position: -$arrow-width 50%; }

    // убираем стрелки у пунктов меню
    &.empty{ &:after{ background-image: none; } }

    // обрамление вокруг текста у ссылки в пункте меню
    span{ padding: $item-link-padding; display: inline-block; border-radius: 8px; }

  }
}

// рутовый уровень вложенности
#{$el}-root-level{
  position: relative;
  overflow: hidden;
  > li > a{
    &.opened{ z-index: 666; }

    // белая стрелка вправо
    &.hovered:after, &.selected:after{ background-position: -$arrow-width*3 50%; }

    // белая стрелка вниз
    &.opened:after,
    &.opened.hovered:after{ background-position: -$arrow-width*2 50%; }


    // активные пункты меню
    &.hovered, &.opened, &.current-active{
      background-color: $color-root-level-hover;
      color: $color-root-level-txt-hover;
      @include transition(background-color .05s ease-in-out);
    }

    // обрамление самого текста внутри блока меню
    // при наведении на него и на пункт меню применяются различный стили
    span:hover { background-color: $bg-color; @include transition(background-color .1s ease-in-out); color: $text-color; }
  }
}


// первый уровень вложенности
#{$el}-first-level{
  display: none;
  position: relative;
  overflow: hidden;
  border-left: 10px solid $header-active-color;
  > li > a{
    display: block;
    padding-left: 1em;

    // активные пункты меню
    &.hovered, &.opened, &.current-active{ background-color: $color-first-level-hover; @include transition(background-color .1s ease-in-out); }

    // обрамление самого текста внутри блока меню
    // при наведении на него и на пункт меню применяются различный стили
    span:hover { background-color: $bg-color; @include transition(background-color .1s ease-in-out);}
  }

}

// последний уровень меню
#{$el}-second-level{
  display: none;
  position: relative;
  border-left: 10px solid $subheader-active-color;
  > li > a{
    display: block;
    padding-left: 3em;
    &.opened{ box-shadow: none; }
    // активные пункты меню
    &.hovered, &.opened, &.current-active{ background-color: $color-second-level-hover; @include transition(background-color .1s ease-in-out); }
  }


}

// скрываем пустые подменю в самом последнем уровне вложенности меню
#{$el}-second-level,
#{$el}-first-level{
  &:empty{
    display: none !important;
  }
}

// верхняя и нижняя тень у открытого блока с меню
.opened{
  #{$el}-second-level,
  #{$el}-first-level{
    &:before, &:after{
      content: ' ';
      display: block;
      position: absolute;
      width: 140%;
      height: 0;
      box-shadow: -20px 0 2px 2px rgba(0,0,0,0.3);
      z-index: 666;
    }
    &:after{
      bottom: 1px;
    }
    &:before{
      top: 0;
    }
  }
}


