$el: '.partners';
$table-bg: #ede6f2;
$text-color: #6e2257;

#{$el}-table{
  border-spacing: 0;
  border-collapse: collapse;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: $text-color;
  margin-bottom: 80px;

  tr:nth-child(odd){
    background: $table-bg;
  }

  td{ border: none; background: transparent; padding: 10px;}
  p { padding: 0; }
}