.select2-container .select2-choice > .select2-chosen{
  text-align: left;
  font-size: 14px;
}

.select2-container .select2-choice .select2-arrow{
  border-left: none !important;
  background: none !important;
}

.select2-results li{ font-size: 14px; }