$color-bg: #f5f5f2;

$color-link: #3f3ca2;
$color-link-hover: darken($color-link, 10%);

$color-btn-bg: #dfd3e6;
$color-btn-hover-bg: darken(#dfd3e6, 10%);

$color-lilac: #c4acd4;
$color-lilac-d: #553d59;

$color-magenta: #702258;
$color-magenta-l: #eee7f3;
$color-brown: #916623;