<div id="video-gallery" class="gallery" style="display: none;">
<% @videos.each do |video| %>
<div class="span9 album">
	<%= raw(youtube_embed(video.youtube)) %>
	<p><%= video.title %></p>
</div>
<% end %>
</div>