<div class="container" id="">
	
  <div class="row">
	<div class="span2">
		<%= link_to "назад к альбомам", media_path, :class => 'content-header-link product' %>
	</div>
    <div class="span10">
  		<h1><%= @album.title %></h1>
    </div>
  </div>

  <div class="row">
	<div class="span12">

		<div class="fotorama" data-width="940" data-allowfullscreen="true" data-keyboard="true">
			<% @album.album_images.each do |image| %>
			<%= image_tag(image.image.url(:medium)) %>
			<% end %>
		</div>
		
	</div>
  </div>
	
</div>