/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require fonts
 *= require fotorama
 *= require calendar
 *= require pop-up
 */


/*common*/

.fullscreen,.fotorama__wrap,.fotorama__wrap_style_fade .fotorama__frame,.fotorama__thumbs_previews{
	background:none!important;
}

html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

#footer, .push {
	height: 140px;
	clear: both;
}

textarea:focus, input:focus, select:focus {
    outline: 0;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    white;
}

/*header*/

#header {
	height: 40px;
	background-color: #efefeb;
}

#header .partners_link {
	display: block;
	width: 140px;
	height: 20px;
	background-color: #c4acd4;
	margin-top: 10px;
	line-height: 1.7;
	text-align: center;
	text-decoration: none;
	color: white;
	font-family: PragmaticaC;
	font-size: 12px;
	float: left;
}

#header .partners_link:hover {
	background-color: #6e2257;
}

.social_link {
	display: block;
	width: 20px;
	height: 20px;
	text-indent: -99999px;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
}

.social_link.vk {
	background: url('vk.png') top;
}

.social_link.tw {
	background: url('tw.png') top;
}

.social_link.fb {
	background: url('fb.png') top;
}

.social_link.in {
	background: url('in.png') top;
}

.social_link:hover {
	background-position: bottom;
}

#header .search {
	display: block;
	float: left;
	position: relative;
}

#header .search-input, #footer .search-input {
	margin-top: 10px;
	margin-left: 80px;
	width: 156px;
	height: 16px;
	padding-bottom: 3px;
	background: none;
	text-indent:15px;
	border:none;
	color: white;
	background-color: #c4acd4;
	font-size: 11px;
}

#header .search-submit, #footer .search-submit {
	position: absolute; 
	width: 30px; 
	height: 25px; 
	display: block; 
	right: 2px; 
	top: 13px;
	background: url('search.png') top;
	background-repeat:no-repeat;
	content: none;
}

#header .map_link {
	font-family: PragmaticaC;
	color: #6e2257;
	display: block;
	float: left;
	margin-top: 14px;
	margin-left: 45px;
	font-size: 12px;
}

#header .map_link:hover {
	color: black;
}

#header .phone {
	float: left;
	margin-left: 30px;
	margin-top:12px;
	font-family: PragmaticaC;
	color: #6e2257;
}

/*topmenu*/

#topmenu {
	height: 50px;
	background-color: white;
}

#topmenu a {
	font-family: PragmaticaCondC;
	color: #6e2257;
	display: block;
	text-decoration: none;
	padding: 17px 15px 16px;
	float: left;
	text-transform: uppercase;
	font-size: 14px;
	margin-right: 0px;
}

#topmenu a:last-child {
	margin-right: 0px;
}

#topmenu a:hover {
	background-color: #c4acd4;
	color: white;
}

#topmenu a.active {
	background-color: #c4acd4;
	color: white;
}

/*main*/

#main {
	background: white url('index_back.jpg') no-repeat center -90px;
	height: 100%;
	min-height: 710px;
}

#bronte-bubble-wrapper {
	left: 20px;
	top: 80px;
	position: absolute;
	width: 400px;
	height: 500px;
	cursor: pointer
} 

#pre-bubble {
	position: absolute;
	background-image: url('pre-bubble.png');
	background-repeat: no-repeat;
	padding-top: 40px;
	width: 290px;
	height: 138px;
	top: 30px;
	left: 300px;	
	font-family: PragmaticaC;
	color: #9e6238;
	font-size: 22px;
	text-align :center;
	z-index: 100;
	cursor: pointer;
}


#bronte-bubble {
	display: none;
	position: absolute;
	background-image: url('index-bronte.png');
	background-repeat: no-repeat;
	padding-top: 170px;
	padding-left: 60px;
	width: 350px;
	height: 180px;
	top: 120px;
}


#belter-bubble-wrapper {
	left: 490px;
	top: 60px;
	position: absolute;
	width: 400px;
	height: 500px;
	cursor: pointer
} 

#belter-bubble {
	display: none;
	position: absolute;
	background-image: url('index_belter.png');
	background-repeat: no-repeat;
	padding-top: 170px;
	padding-left: 60px;
	width: 350px;
	height: 180px;
	top: 140px;
}


#bronte-text, #belter-text {
	font-family: PragmaticaC;
	width: 290px;
	height: 150px;
	color: #9e6238;
	font-size: 14px;
}

.bubble-link {
	color: #1f478b;
	font-family: PragmaticaC;
	display: block;
	margin-top: 20px;
}

.bubble-link:hover {
	color: black;
}

#main-content {
	padding-top: 700px;
	z-index: 2;
	margin-bottom: 130px;
}

.header {
	display: block;
	float: left;
	font-family: PragmaticaC;
	color: #6e2257;
	font-size: 16px;
	height: 20px;
	margin-bottom: 4px;
	text-transform: uppercase;
}

.content-header-link {
	display: block;
	float: right;
	margin-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
	height: 20px;
	background-color: #dfd3e6;
	line-height: 1.7;
	text-align: center;
	text-decoration: none;
	color: white;
	font-family: PragmaticaC;
	font-size: 12px;
}

.content-header-link.about {
	margin-top: 30px;
}

.content-header-link.product {
	margin-top: 30px;
	float: left;
}

.content-header-link:hover {
	background-color: #6e2257;
}

.line {
	clear: both;
	width: 100%;
	height: 2px;
	background-color: #cf9f51;
	content: none;
}

.column-element {
	font-family: PragmaticaC;
	border-bottom: dotted 2px #cf9f51;
	padding-bottom: 20px;
	padding-top: 5px;
}

.column-element:last-child {
	border-bottom: none;
}

.column-element.product:nth-last-child(2) {
	border-bottom: none;
}

/*news column*/

.element-header-link {
	display: block;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #6e2257;
}

.element-header-link:hover {
	color: black;
}

.element-date {
	font-size: 12px;
	color: #527dc5;
	margin-bottom: 5px;
}

.element-text {
	font-size: 14px;
	line-height: 1.2;
	color: #1f478b;
}

.element-text a {
	display: block;
	color: #d2691e;
	clear: both;
}

.element-text a:hover {
	color: black;
}

/*catalog column*/

.catalog-element-header-link {
	display: block;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 15px;
	color: #553d59;
}

.catalog-element-header-link:hover {
	color: black;
}

.catalog-element-text {
	font-size: 14px;
	line-height: 1.2;
	color: #1f478b;
	margin-left: 86px;
}

.catalog-element-text a {
	display: block;
	color: #d2691e;
	clear: both;
}

.catalog-element-text a:hover {
	color: black;
}

.catalog-element-image {
	margin-top: 10px;
	margin-right: 15px;
	float: left;
}

/*events column*/

.events-element-header-link {
	display: block;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 15px;
	color: #553d59;
}

.events-element-header-link:hover {
	color: black;
}

.element-brand {
	font-size: 12px;
	line-height: 1.2;
	color: #1f478b;
	
}

.element-event {
	color: #1f478b;
	font-size: 17px;
	line-height: 1.2;
	margin-top: 3px;
}

.element-event a {
	margin-top: 5px;
	font-size: 12px;
	display: block;
	color: #d2691e;
	clear: both;
}

.element-event a:hover {
	color: black;
}

.calendar-link {
	display: block;
	float: left;
	margin-bottom: 4px;
	width: 150px;
	height: 20px;
	background-color: #dfd3e6;
	line-height: 1.7;
	text-align: center;
	text-decoration: none;
	color: white;
	font-family: PragmaticaC;
	font-size: 12px;
	margin-top: 10px;

}

.calendar-link:hover {
	background-color: #6e2257;
}

/*footer*/

#footer {
	height: 140px;
	background-color: #dccfe6;
}

#footer-logo {
	float: left;
	width: 259px;
	height: 64px;
	background-image:url('logo-footer.png');
	margin-top: 20px;
}

#footer-phone {
	margin-top: 55px;
	font-family: PragmaticaC;
	background-image:url('phone.png');
	background-repeat:no-repeat;
	background-position:left top;
	text-indent: 35px;
	font-weight: bold;
	float: left;
	margin-left: 40px;
	color: #553d59;
	font-size: 20px;	
}

#footer-phone #number {
	margin-top: 2px;
}

#footer-social {
	float: left;
	margin-top: 45px;
	margin-left: 60px;
}

#footer .search {
	margin-top: 45px;
	display: block;
	float: right;
	position: relative;
}

#copyright {
	float: left;
	color: #89738d;
	font-family: PragmaticaC;
	font-size: 12px;
	margin-top: 30px;
}

.made-in-zero {
	font-family: PragmaticaC;
	color: #553d59;
	font-size: 10px;
	float: left;
	margin-top: 20px;
	margin-left: 300px;
}

.zero-logo {
	display: block;
	margin-top: 20px;
	float: right;
	width: 64px;
	height: 21px;
	background-image:url('zero-logo.png');
	text-indent: -99999px;
}

.zero-logo:hover {
	background-position: bottom;
}

/*about*/

h1 {
	font-family: PragmaticaLightC;
	font-size: 28px;
	font-weight: normal;
	color: #553d59;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 25px;
}

h2 {
	font-family: PragmaticaC;
	font-size: 20px;
	font-weight: normal;
	color: #553d59;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 25px;
}

#about p {
	font-family: PragmaticaC;
	font-size: 14px;
	color: #553d59;
}

/*products*/

.quick-search {
	margin-top: 30px;
	font-family: PragmaticaC;
	font-size: 14px;
	color: #c4acd4;
}

#products .search {
	display: block;
	float: right;
	position: relative;
}

#products .search-input {
	margin-top: 20px;
	margin-left: 80px;
	width: 460px;
	height: 25px;
	padding-bottom: 3px;
	background: none;
	text-indent:15px;
	border: solid 1px #c4acd4;
	-moz-border-radius: 15px;
	border-radius: 5px;
	color: #c4acd4;
	background-color: #ede6f2;
	font-size: 11px;
}

#products .search-submit {
	position: absolute; 
	width: 30px; 
	height: 25px; 
	display: block; 
	right: 2px; 
	top: 28px;
	background: url('search2.png') top;
	background-repeat:no-repeat;
	content: none;
}

#products .line, #consultations .line {
	clear: both;
	width: 100%;
	height: 1px;
	background-color: #cf9f51;
	content: none;
}

#products .brand {
	height: 30px;	
} 

#products .normal-link, #consultations .normal-link{
	font-family: PragmaticaC;
	text-align: center;
	display: block;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	color: #553d59;
	text-decoration: none;
	line-height: 2;
	background-color: #ede6f2;
}

#products .normal-link:hover, #consultations .normal-link:hover{
	background-color: #c4acd4;
}

#products .image-link {
	display: block;
	width: 300px;
	height: 30px;
	text-indent: -99999px;
	overflow: visible;
}

#products .image-link.br {
	background: url('pb_abronte.png') top;
}

#products .image-link.be {
	background: url('pb_drbelter.png') top;
}

#products .image-link:hover {
	background-position: 0 -30px;
}

#products .image-link.active {
	height: 38px;
	background-position: 0 -60px;
}

.catalog-product {
	margin-top: 40px;
}

.catalog-product .description {
	margin-top: 10px;
	color: #553d59;
	font-family: PragmaticaCondC;
	font-size: 16px;
}

#products .product_image_wrap {
	width: 211px;
	height: 212px;
	background: url('item-list-hover.png') no-repeat;
}

#products .product_image_wrap:hover {
	background-position: bottom;
}

#products .product_image {
	background-repeat: no-repeat;
}

#products .catalog_product_link {
	display: block;
	width: 200px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	text-align: center;
	padding-top: 80px;
	color: #f5eed6;
	font-family: PragmaticaLightC;
	text-decoration: none;
	
}

/*product*/

#product .title {
	font-weight: bold;
	display: block;
	float: left;
	font-family: PragmaticaC;
	color: #6e2257;
	font-size: 16px;
	height: 20px;
	margin-bottom: 4px;
	text-transform: uppercase;	
}

#product .product_image_wrap {
	width: 311px;
	height: 312px;
	background: url('product-hover.png') no-repeat;
}
/*

#product .product_image_wrap:hover {
	background-position: bottom;
}

*/
#product .product_image {
	background-repeat: no-repeat;
}

#product .packing {
	margin-top: 30px;
	font-family: PragmaticaC;
	color: #7190c5;
	clear: both;
	font-size: 12px;
	margin-bottom: 20px;
}

#product h5 {
	color: #6e2257;
	font-size: 12px;
	font-family: PragmaticaC;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 10px;
}

#product .text {
	color: #336699;
	font-size: 14px;
	font-family: PragmaticaC;
}

#product .share {
	margin-top: 15px;
	margin-left: -5px;
}

.order_button {
	display: block;
	width: 220px;
	height: 46px;
	margin-top: 30px;
	margin-bottom: 40px;
	text-decoration: none;	
	text-indent: 25px;
	height: 100%;
	padding-top:14px;
	padding-bottom:11px;
	color: white;
	font-family: PragmaticaC;
	font-size: 16px;
	background: #c4acd4 url('order-buttom-arrow.png') no-repeat 170px 15px;
}

.order_button:hover {
	background-color: #712359;
}

#product .procedures {
	list-style: none;
	padding-left: 0px;
	font-family: PragmaticaC;
	font-size: 14px;
}

#product .procedures li {
	margin-top: 2px;
}

#product .procedures a {
	color: #336699;
}

#product .procedures a:hover {
	color: #cc6600;
}

#product .recommended {
	margin-top: 10px;
	height: 180px;
	background-color: #ede6f2;
}

#product .icon {
	height: 80px;
	width: 80px;
	background-repeat: no-repeat;
	margin-top: 13px;
	margin-left: 16px;
	float: left;
	z-index: 999;
}

.icon.main {
	height: 80px;
	width: 80px;
	background-repeat: no-repeat;
	float: left;
	z-index: 999;
	margin-top: 10px;
	margin-right: 6px;
}

#product .recommended-title {
	color: #6e2257;
	font-family: PragmaticaC;
	margin-top: 13px;
	margin-left:20px;
	float: left;
	font-size: 14px;
}

#product .recommended-title a, #product .recommended-title a:visited  {
	color: #6e2257;
}

#product .recommended-description {
	color: #1f478b;
	margin-top: 10px;
	margin-left:20px;
	float: left;
	width: 160px;
	font-family: PragmaticaC;
	font-size: 14px;
}

#product .recommended-link {
	display: block;
	float: right;
	font-family: PragmaticaC;
	font-size: 12px;
	color: white;
	padding-bottom: 5px;
	padding-top: 7px;
	width: 110px;
	margin-top: 45px;
	margin-right: 20px;
	text-decoration: none;	
	text-indent: 10px;
	background: #c4acd4 url('order-buttom-arrow-small.png') no-repeat 95px 8px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#product .recommended-link:hover {
	background-color: #712359;
}

/*contacts*/

#contacts .address {
	color: #553d59;
	margin-bottom: 30px;
	font-family: PragmaticaC;
	font-size: 16px;
}

#contacts .text {
	color: #553d59;
	font-size: 14px;
	font-family: PragmaticaC;
}

#contacts .text a {
	color: #553d59;
	font-size: 14px;
	font-family: PragmaticaC;
}

#contacts .text a:hover {
	color: black;
}

#contacts h5 {
	color: #6e2257;
	font-size: 12px;
	font-family: PragmaticaC;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 10px;
}

#contacts .form-input {
	width: 100%;
	height: 25px;
	padding-bottom: 3px;
	background: none;
	text-indent:15px;
	border: solid 1px #c4acd4;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #c4acd4;
	background-color: #ede6f2;
	font-size: 11px;
	margin-bottom: 15px;
}

#contacts .form-submit {
	display: block;
	font-family: PragmaticaC;
	font-size: 12px;
	color: #553d59;
	padding-bottom: 8px;
	padding-top: 11px;
	width: 110px;
	margin-top: 10px;
	margin-right: 20px;
	text-decoration: none;	
	text-align: center;
	background-color: #c4acd4;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#contacts .form-submit:hover {
	background-color: #712359;
}


#contacts textarea {
	width: 100%;
	background: none;
	border: solid 1px #c4acd4;
	-moz-border-radius: 15px;
	border-radius: 5px;
	color: #c4acd4;
	background-color: #ede6f2;
	font-size: 11px;
	text-indent:15px;
	padding-top: 10px;
}

#contacts select {
	width: 220px;
	height: 24px;
}

/*publications*/

.publication {
	margin-bottom: 35px;
}

.publication img {
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

.publication .publication_link, #photo-gallery .album_link, #photo-gallery .album_link:visited {
	display: block;
	margin-top: 10px;
	font-family: PragmaticaC;
	color: #1f4567;
	font-size: 14px;
}

.publication .publication_link:hover, #photo-gallery .album_link:hover {
	color: #d2691e;
}

/*media-zone*/

#media-zone .switch-link {
	display: block;
	float: left;
	margin-right: 20px;
	padding-left: 31px;
	padding-right: 31px;
	padding-top: 9px;
	padding-bottom: 8px;
	background-color: #dfd3e6;
	text-align: center;
	text-decoration: none;
	color: white;
	font-family: PragmaticaC;
	font-size: 12px;
}

#media-zone .switch-link:hover {
	background-color: #6e2257;
}

.gallery {
	margin-top: 20px;
}

#media-zone #photo-gallery img {
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

#media-zone .album {
	margin-bottom: 35px;
}

#media-zone .album p {
	display: block;
	margin-top: 10px;
	font-family: PragmaticaC;
	color: #1f4567;
	font-size: 14px;
}

/*consultations*/

#search_page .search, #consultations .search {
	display: block;
	float: right;
	position: relative;
}

#search_page .search-input, #consultations .search-input {
	margin-top: 20px;
	width: 320px;
	height: 25px;
	padding-bottom: 3px;
	background: none;
	text-indent:15px;
	border: solid 1px #c4acd4;
	-moz-border-radius: 15px;
	border-radius: 5px;
	color: #c4acd4;
	background-color: #ede6f2;
	font-size: 11px;
}

#search_page .search-submit, #consultations .search-submit {
	position: absolute; 
	width: 30px; 
	height: 25px; 
	display: block; 
	right: 2px; 
	top: 28px;
	background: url('search2.png') top;
	background-repeat:no-repeat;
	content: none;
}

#cosultations_frame {
	margin-top: 60px;
	color: #553d59;
	font-family: PragmaticaC;
}

#cosultations_frame h1 {
	font-weight: bold;
	color: #6e2257;
}

#cosultations_frame p {
	margin-top: 0px;
}

.consultaion_switch {
	display: block;
	width: 24px;
	height: 24px;
	text-indent: -99999px;
	float: left;
	margin-right: 20px;
	margin-left: -44px;
}

.consultaion_switch.open {
	background: url('drop_arrow.png') top;
}

.consultaion_switch.open:hover {
	background-position: bottom;
}

.consultaion_switch.close {
	
	background: url('close-arrow.png') no-repeat 10px 10px;
}

#cosultations_frame .short {
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 44px;
	padding-bottom: 20px;
}

#cosultations_frame .full {
	background-color: #f9f5e7;
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 44px;
	padding-bottom: 50px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	position: absolute;
	top: 0;
	z-index: 99;
}

.consultation {
	position: relative;
}

/*events*/

.event-widget {
	margin-top: 30px;
	height: 230px;
	background-color: #ede6f2;
}

/*event*/



#event .element-date {
	font-size: 12px;
	color: #527dc5;
	font-family: PragmaticaC;
}

#event .event-text {
	color: #336699;
	font-family: PragmaticaC;
	font-size: 14px;
	margin-top: 20px;
}


/*search page*/

#search_page h3 {
	font-family: PragmaticaC;
	font-weight: normal;
	color: #6e2257;
	font-size: 14px;
}

/*sign-up*/


.field_with_errors {
  display: inline;
}

.field_with_errors .message, .field_wrap .message {
  font-family: PragmaticaC;
  color: #903829;
  padding-left: 5px;
  font-size: 12px;
}

.field_wrap {
	height: 60px;
}

.authorization .remember_me {
	font-family: PragmaticaC;
	color: #553d59;
	font-size: 14px;
}

.authorization #flash_alert {
	margin-bottom: 20px;
	font-family: PragmaticaC;
	color: #903829;
	padding-left: 5px;
	font-size: 14px;
}


.authorization .form-input {
	width: 100%;
	height: 33px;
	background: none;
	text-indent:15px;
	border: solid 1px #c4acd4;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #553d59;
	font-family: PragmaticaC;
	background-color: #ede6f2;
	font-size: 14px;
}

.authorization .form-input.phone {
	margin-bottom: 20px;
}

/* personal_area */

#personal_area .head_links {
	font-family: PragmaticaC;
	float: right;
	margin-top: 30px;
	color: #c4add4;
	font-size: 14px;
}


#personal_area .head_links a, #personal_area .head_links a:visited  {
	color: #c4add4;
}

#personal_area .head_links a:hover {
	color: #6e2257;
}

#personal_area .my_links {
	margin-bottom: 40px;
}

#personal_area .my_links a, #personal_area a.destroy_link {
	display: block;
	padding-top: 4px;
	padding-bottom: 2px;
	background-color: #ede7f2;
	margin-right: 20px;
	line-height: 1.7;
	text-align: center;
	text-decoration: none;
	color: #6e2257;
	font-family: PragmaticaC;
	font-size: 12px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

#personal_area .my_links a:hover, #personal_area a.destroy_link:hover {
	background-color: #6e2257;
	color: white;
}

#personal_area .my_links a.active {
	background-color: #6e2257;
	color: white;
}

#personal_area table {
	width: 100%;
	border: none;
}


#personal_area table th {
	background-color: white;
	text-align: left;
	color: #6e2257;
	font-family: PragmaticaC;
	font-weight: bold;
	font-size: 16px;
	padding: 5px;
}

#personal_area table td {
	padding-top: 20px;
	padding-bottom: 15px;
}

#personal_area table tr.evenrow {
	background-color: white; 
}

#personal_area table td.price {
	text-transform: uppercase;
	color: #6e2257;
	font-family: PragmaticaC;
	font-size: 16px;
}

#personal_area table td.quantity {
	text-transform: uppercase;
	color: #6e2257;
	font-family: PragmaticaC;
	font-size: 16px;
}

#personal_area .icon {
	height: 80px;
	width: 80px;
	background-repeat: no-repeat;
	float: left;
	z-index: 999;
	margin-left: 10px;
	margin-right: 6px;
}

#personal_area .product_info_column {
	width: 370px;
}

#personal_area .product_info {
	font-family: PragmaticaC;
	font-size: 14px;
}

#personal_area .product_info a, #personal_area .product_info a:visited {
	color: #6e2257;
}

#personal_area .product_info p {
	color: #1f478b;
}


