@font-face {
		font-family: 'PragmaticaC-Bold';
		src: url('PragmaticaC-Bold.eot');
		src: local('☺'), url('PragmaticaC-Bold.eot.eot?#iefix') format('embedded-opentype'),
				 url('PragmaticaC-Bold.woff') format('woff'),
				 url('PragmaticaC-Bold.ttf') format('truetype'),
				 url('PragmaticaC-Bold.svg#segoerg') format('svg');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'PragmaticaC-BoldItalic';
		src: url('PragmaticaC-BoldItalic.eot');
		src: local('☺'), url('PragmaticaC-BoldItalic.eot.eot?#iefix') format('embedded-opentype'),
				 url('PragmaticaC-BoldItalic.woff') format('woff'),
				 url('PragmaticaC-BoldItalic.ttf') format('truetype'),
				 url('PragmaticaC-BoldItalic.svg#segoerg') format('svg');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'PragmaticaC-Italic';
		src: url('PragmaticaC-Italic.eot');
		src: local('☺'), url('PragmaticaC-Italic.eot.eot?#iefix') format('embedded-opentype'),
				 url('PragmaticaC-Italic.woff') format('woff'),
				 url('PragmaticaC-Italic.ttf') format('truetype'),
				 url('PragmaticaC-Italic.svg#segoerg') format('svg');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'PragmaticaC';
		src: url('PragmaticaC.eot');
		src: local('☺'), url('PragmaticaC.eot.eot?#iefix') format('embedded-opentype'),
				 url('PragmaticaC.woff') format('woff'),
				 url('PragmaticaC.ttf') format('truetype'),
				 url('PragmaticaC.svg#segoerg') format('svg');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'PragmaticaCondC-Bold';
		src: url('PragmaticaCondC-Bold.eot');
		src: local('☺'), url('PragmaticaCondC-Bold.eot.eot?#iefix') format('embedded-opentype'),
				 url('PragmaticaCondC-Bold.woff') format('woff'),
				 url('PragmaticaCondC-Bold.ttf') format('truetype'),
				 url('PragmaticaCondC-Bold.svg#segoerg') format('svg');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'PragmaticaCondC';
		src: url('PragmaticaCondC.eot');
		src: local('☺'), url('PragmaticaCondC.eot.eot?#iefix') format('embedded-opentype'),
				 url('PragmaticaCondC.woff') format('woff'),
				 url('PragmaticaCondC.ttf') format('truetype'),
				 url('PragmaticaCondC.svg#segoerg') format('svg');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'PragmaticaLightC-Bold';
		src: url('PragmaticaLightC-Bold.eot');
		src: local('☺'), url('PragmaticaLightC-Bold.eot.eot?#iefix') format('embedded-opentype'),
				 url('PragmaticaLightC-Bold.woff') format('woff'),
				 url('PragmaticaLightC-Bold.ttf') format('truetype'),
				 url('PragmaticaLightC-Bold.svg#segoerg') format('svg');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'PragmaticaLightC';
		src: url('PragmaticaLightC.eot');
		src: local('☺'), url('PragmaticaLightC.eot.eot?#iefix') format('embedded-opentype'),
				 url('PragmaticaLightC.woff') format('woff'),
				 url('PragmaticaLightC.ttf') format('truetype'),
				 url('PragmaticaLightC.svg#segoerg') format('svg');
		font-weight: normal;
		font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('bebas/BebasNeue Book.eot'); /* IE9 Compat Modes */
    src: url('bebas/BebasNeue Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('bebas/BebasNeue Book.woff') format('woff'), /* Modern Browsers */
    url('bebas/BebasNeue Book.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('bebas/BebasNeue Book.svg#58f27deb2399af8565c14afe8476e0de') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  400;
}

