/*layout*/

#header {
	display: none;
}

#topmenu {
	display: none;
}


/*contacts*/

#contacts h5 {
	display: none;
}

#contacts h1 {
	display: none;
}

#contacts .form-input, #new_order .form-input  {
	display: none;
}

#contacts .form-submit {
	display: none;
}

#contacts textarea {
	display: none;
}

#contacts select {
	display: none;
}