<div class="span3">
	<div class="catalog-product">
		<div class="product_image" <% unless product.product_images.blank? %>style="background-image: url(<%= product.product_images.first.image.url(:catalog) %>);"<% end %>>
			  <div class="product_image_wrap">
				<%= link_to "Подробней о товаре", product, :class => 'catalog_product_link' %>
			  </div>
		  </div>
		
		<div class="description"><%= product.title %></div>
	</div>
</div>