<div id="bronte-bubble">
	<div id="bronte-text">Натуральная органическая косметика Alissi Bronte для самых избалованных искательниц совершенства покоритВашу душу и подарит совершенство Вашему лицу и телу. Окунитесь в мир роскоши и  фантастических ощущенийс Alissi Bronte. Bienvenidos!
	<%= link_to "Перейти в каталог", products_path(:brand_id => "1"), :class => 'bubble-link' %>
	</div>
</div>
<div id="belter-bubble">
	<div id="bronte-text">Натуральная органическая косметика Alissi Bronte для самых избалованных искательниц совершенства покоритВашу душу и подарит совершенство Вашему лицу и телу. 
	<%= link_to "Перейти в каталог", products_path(:brand_id => "2"), :class => 'bubble-link' %>
	</div>
</div>