<div id="pre-bubble">
	<span style="text-decoration: underline; color: #1f478b;">Давай<br/> познакомимся?</span><br/>
</div>

<div id="bronte-bubble-wrapper">
<div id="bronte-bubble">
	<div id="bronte-text">Натуральная органическая косметика Alissi Bronte для самых избалованных искательниц совершенства, покорит Вашу душу и подарит совершенство Вашему лицу и телу. Окунитесь в мир роскоши и фантастических ощущений с Alissi Bronte. Bienvenidos!
	<%= link_to "Перейти в каталог", products_path(:brand_ids => "1"), :class => 'bubble-link' %>
	</div>
</div>
</div>

<div id="belter-bubble-wrapper">
<div id="belter-bubble">
	<div id="bronte-text">Для любителей строгости форм, точности формул и натуральных компонентов. По-немецки качественно и лаконично. Знакомьтесь, Dr.Belter. Willcommen!
	<%= link_to "Перейти в каталог", products_path(:brand_ids => "2"), :class => 'bubble-link' %>
	</div>
</div>
</div>