<div class="form notice">	
	
	<a href="#" class="close"></a>
    <div class="service-info">
        <div class="form-head">
            <h1><%= flash[:notice] %></h1>
       </div>
    </div>
	
</div>