<% @articles.each do |article| %>
  <div class="column-element product">
  <%= link_to article.title, article, :class => "element-header-link" %>
  <div class="element-date"><%= article.date.strftime("%d.%m.%Y") %></div>
  <div class="element-text"><%= truncate(strip_tags(article.text), length: 75).html_safe %> <%= link_to "читать далее", article %></div>
  </div>
<% end %>
